section
  .flex.flex--center
    .col-1
      p xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    .col-1
      p sssssssssssssssssssssssssssssss 

section
  .flex.flex--space-around
    .col-1
      p xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    .col-1.order-first
      p CTA sssssssssssssssssssssssssssssss 

section
  .flex.flex--center
    .col-2
      p xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

    .col-50
      p CTA sssssssssssssssssssssssssssssss    