mixin nav-content()
  ul
     li: a(href="#about") ABOUT
     li: a(href="#video") VIDEO
     li: a(href="#branding") BRANDING
     li: a(href="#digital") DIGITAL
     li: a(href="#acting") ACTING
     li: a(href="#photography") PHOTOGRAPHY
     li: a(href="#contact") CONTACT
     
.mobile-nav
  +nav-content()

header
  .header-position

    h1.logo 
    nav.site-nav
      +nav-content()    
    a(href="mailto:yuliwyl@gmail.com").email-link EMAIL ME

    .mobile-nav-toggle: span 
