header
h1.logo yuli

nav
  ul
   li: a(href="#about") ABOUT
   li: a(href="#video") VIDEO
   li: a(href="#branding") BRANDING
   li: a(href="#digital") DIGITAL
   li: a(href="#acting") ACTING
   li: a(href="#photography") PHOTOGRAPHY
   li: a(href="#contact") CONTACT

a(href="mailto:yuliwyl@gmail.com").email-link +email me