section.video
  .flex.flex--space-around

    .col-1
      .video-strip
      .flex-video <iframe src="https://player.vimeo.com/video/227890272" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/227890272">TOWARDS THE SUN</a> from <a href="https://vimeo.com/user53874045">yulianna</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
       
    .col-1.order-first
      p.home-lead.outdented DOCUMENTARY & PROMOTION VIDEOS
      a(href="").home-cta CHECK MORE
