mixin app-img(link, img, color)
  a(href="#{link}" data-color="#{color}").app-img-link
    img(src="assets/img/app/#{img}")

section.digital#digital
  .flex.flex--center
    .col-50.flex.flex--center.website
      .col-2
        p.home-lead WEB DESIGN
        .cf
          
          img(src="assets/img/website/web-final.png")
        a(href="http://yuliwyl.wixsite.com/yuliannaw/website").home-cta CHECK MORE
        

    .col-50.flex.flex-center.app(data-orig-color="#f5c6c9")
      .col-2
        p.home-lead APP DESIGN
        
        .cf
         +app-img('http://yuliannaw.com','app-1.png','#ffc39e')
         +app-img('http://yuliannaw.com','app-2.png')
         +app-img('http://yuliannaw.com','app-3.png')
         +app-img('http://yuliannaw.com','app-4.png','#ffc39e')
        .cf
          
        a(href="http://yuliwyl.wixsite.com/yuliannaw/app-1").home-cta CHECK MORE
        
  
