section.branding
  .flex.flex--center
    .slider
      figure 
        .slide
          p CHILLABELLA 
          img(src="assets/img/branding/1.jpg")
        .slide
          p KILLABEE
          img(src="assets/img/branding/2-1.jpg").killabee
        .slide
          p HOTPAD
          img(src="assets/img/branding/3.jpg")
