section.video
  .flex.flex--space-around

    .col-1
        .order-first
          p.home-lead.outdented DOCUMENTARY & PROMOTION VIDEOS 
          a(href="").home-cta CHECK MORE

    .col-1
       .video-strip 
       .flex-video <iframe src="https://vimeo.com/227890272">

     