section.about
  
  video(autoplay loop)
    source(src="assets/video/showcase.mp4" type="video/mp4")
    source(src="assets/video/showcase.webm" type="video/webm")  
    
  .flex.flex--center
    .col-1.push-right
      h2 YULIANNA WANG
      p.home-lead DESIGNER & FILMMAKER 
