section.about
  .container
    
    video(autoplay loop)
      source(src="assets/video/showcase.mp4" type="video/mp4")
      source(src="assets/video/showcase.webm" type="video/webm")
        
    .bg 
          
    .flex.flex--center
      .col-2.push-right
        h2.home YULIANNA WANG
        p.home-lead DESIGNER & FILMMAKER 
        
        
      
