section.branding
  .flex.flex--center
    .col-2.push-left
      figure 
        .slide
          p slide1
          img(src="assets/img/video-bg.png")
        .slide
          p slide1
          img(src="assets/img/video-bg.png")
        .slide
          p slide1
          img(src="assets/img/video-bg.png")
