mixin thumb
  a(href="" style="background-image:url(../assets/img/about-bg.jpg)").photo-thumb
    .photo-meta
      .name photo name
      .date dec 10,1996

section.photo#photo
  .flex.flex--center  
    .col-50
      .photo-wrap
        a(href="" style="background-image:url(../assets/img/photo/1.jpg)").photo-thumb
          .photo-meta
            .name WE ARE ONE
            
            
        
        a(href="" style="background-image:url(../assets/img/photo/2.jpg)").photo-thumb
          .photo-meta
            .name BOY & SEA
          
            
        a(href="" style="background-image:url(../assets/img/photo/3.jpg)").photo-thumb
          .photo-meta
            .name NON-STOP
            
            
        a(href="" style="background-image:url(../assets/img/photo/4.jpg)").photo-thumb
          .photo-meta
            .name KNOCKING ON HEAVEN'S DOOR
        
            
        a(href="" style="background-image:url(../assets/img/photo/5.jpg)").photo-thumb
          .photo-meta
            .name @HK
            
            
        a(href="" style="background-image:url(../assets/img/photo/6.jpg)").photo-thumb
          .photo-meta
            .name @PARIS
        
            
        a(href="" style="background-image:url(../assets/img/photo/7.jpg)").photo-thumb
          .photo-meta
            .name THE BLACK BEAUTY
            
       
        a(href="" style="background-image:url(../assets/img/photo/8.jpg)").photo-thumb
          .photo-meta
            .name CHERRY WINE
          
                
        a(href="" style="background-image:url(../assets/img/photo/9.jpg)").photo-thumb
          .photo-meta
            .name @NY
            
                    
        a(href="" style="background-image:url(../assets/img/photo/10.jpg)").photo-thumb
          .photo-meta
            .name TILT WORLD
            
                        
        a(href="" style="background-image:url(../assets/img/photo/11.jpg)").photo-thumb
          .photo-meta
            .name @FI
            
                            
        a(href="" style="background-image:url(../assets/img/photo/12.jpg)").photo-thumb
          .photo-meta
            .name ON SET
          
            
    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented PHOTOGRAPHY & DRAWING
          a(href="").home-cta CHECK MORE
