section.branding#branding
  .flex.flex--center
    .slider
      figure 
        .slide
          p CHILLABELLA 
          a(href="").home-cta CHECK IT
          img(src="assets/img/branding/1.jpg")
            
        .slide
          p KILLABEE
          a(href="").home-cta CHECK IT
          img(src="assets/img/branding/2-1.jpg").killabee
        .slide
          p HOTPAD
          a(href="").home-cta CHECK IT
          img(src="assets/img/branding/3.jpg")
