mixin thumb
  a(href="" style="background-image:url(../assets/img/about-bg.jpg)").photo-thumb
    .photo-meta
      .name photo name
      .date dec 10,1996

section.photo
  .flex.flex--center  
    .col-50
      .photo-wrap
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
        +thumb
       
    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented PHOTOGRAPHY & LIFE DRAWING
          a(href="").home-cta CHECK MORE
