section.acting
  .flex.flex--space-around
    
    .col-2
    
       .flex-video <iframe src="https://player.vimeo.com/video/228546690" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/228546690">TOWARDS THE SUN</a> from <a href="https://vimeo.com/user53874045">yulianna</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    .col-2.description
       .desc-wrap
         p.home-lead.outdented ACTING: SHOWREEL
         a(href="").home-cta CHECK BIO
