.home-sections .digital
  padding: 0px

section.digital
  color: white

  .home-lead
    text-align: center
    font-size: 36px




  .website, .app
    background:
      color: pink
      image: url()
      position: center
    padding: 50px 0
    &.app
      background:
        color: yellow
      .home-cta
        color: yellow

  .home-cta
    color: pink
    font-size:
    text-align: center
    position: relative
    margin-left: 150px



  img
    max-width: 100%


  .app-img-link
    display: block
    float: left
    width: calc(50% - 14px)
    border: 2px solid white
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
    margin: 5px

    //border: 2px solid white

    img
      max-width: 100%
      display: block

  .cf
    clear: both
    margin-bottom: 20px

  .col-2
    position: relative
    margin-left: 50px
    @media(max-width: 640px)
      margin-left: 10px
