.home-footer
  background: #f5c6c9

  h
    font-size: 30px
    text-align: center
    width: 100%
    align-items: center
    color: white
    display: block
    padding-top: 10px


  a
    color: white
    background: #f5c6c9
    display: block
    width: 100%
    line-height: 2
    text-align: center
    font-size: 36px
    font-weight: 300
    transition: 100ms ease-in-out

    &:hover
      background: darken(#40393d, 6%)

    @meida (max-width: 640px)
      font-size: 36px
      width: auto

  @media (max-width: 640px)
    .email
      font-size: 26px
