.home-sections .branding
  padding: 0px
  overflow: hidden
  height: 390px
  background-color:grey

section.branding
  p
    z-index: 10000
    font-size: 36px
    text-align: center
    position: absolute
    width: 33.3333%
    color: white
    padding-top: 30px

  .slide
    width: 33.3%
    float: left

  

  figure img
    width: 100%
    float: left


  figure
    position: relative
    width: 300%
    margin: 0
    left: 0
    animation: slidy 16s ease-in-out infinite

  @keyframes slidy
    0%
      left: 0%
    10%
      left: 0%
    25%
      left: -100%
    50%
      left: -200%
    75%
      left: -100%
    90%
      left: 0%
    100%
      left: 0%
